html {
  font-family: monospace;
  font-size: 20px;
}

input[type=text] {
  width: 50%;
}

textarea {
  display: block;
  font-size: 1em;
  width: 95vw;
  height: 90vh;
  margin: auto;
  max-width: 64em;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #222;
    color: #ddd;
  }

  a,
  a:link,
  a:visited {
    color: #9cf;
  }

  input,
  textarea {
    background-color: rgba(0, 0, 0, 50%);
    color: inherit;
  }
}